<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}" />
    <link rel="stylesheet" href="{% static 'fontawesome-free-6.7.2-web\fontawesome-free-6.7.2-web\css\all.css' %}">
    <title>
        {% block title %}
               AQT_GIS
        {% endblock %}
    </title>
    {% block map %}

    {% endblock %}
</head>

<body>
    {% block content %}
   
    {% endblock %}
    {% block script %}
    <script src="{% static 'js/script.js' %}"></script>
    <script src="http://code.jquery.com/jquery-1.7.min.js"></script>
    {% endblock %}
</body>

</html>