<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'fontawesome-free-6.7.2-web\fontawesome-free-6.7.2-web\css\all.css' %}">
    <title>
        {% block title %}
               AQT_GIS
        {% endblock %}
    </title>
    {% block map %}

    {% endblock %}
    <style>
        {% block Style %}{% endblock %}
    </style>

</head>

<body>
    {% block content %}
   
    {% endblock %}
    {% block script %}
    {% comment %} <script src="{% static 'js/map/simple.js' %}"></script>
    <script src="{% static 'http://code.jquery.com/jquery-1.7.min.js '%}"></script> {% endcomment %}
    {% endblock %}
</body>

</html>