{% extends "layout.html" %}

{% load static %}

{% block title %} Vị trí cửa hàng {% endblock %}

{% block map %}
<link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}" />
<link rel="stylesheet" href="{% static 'css/map/map.css' %}" />
<script src="{% static 'leaflet/leaflet.js' %}"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tomickigrzegorz/autocomplete@1.8.6/dist/css/autocomplete.min.css" />
<script src="https://cdn.jsdelivr.net/gh/tomickigrzegorz/autocomplete@1.8.6/dist/js/autocomplete.min.js"></script>
<link rel="stylesheet" href="{% static 'leaflet/Control.FullScreen.css' %}" />
<script src="{% static 'leaflet/Control.FullScreen.js' %}"></script>


{% endblock %}
    
{% block Style %}
body { margin: 0; font-family: sans-serif; }
    #map { height: 650px; }

    .description {
       
      background: white;
      padding: 10px;
      border-radius: 8px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      font-size: 14px;
      
    }

    .controls {
      margin: 10px;
    }

    .marker-position {
      margin-top: 10px;
      font-weight: bold;
      color: #0066cc;
    }

{% endblock %}

{% block content %}
<section class="special-services">
    <div class="container marker-position mb-3">
       
            <h2 style="text-align: center; ">GS25 Viva Riverside</h2>

            <div class="controls">
              <label><input type="checkbox" id="toggle-markers" checked> Hiển thị vị trí cửa hàng</label>
             
            </div>
       
    </div>

    <div class="container-fluid">
        <div class="row" style="height: 800px">
            <div id="map"></div>
        </div>
    </div>
</section>
{% endblock %}


{% block script %}
<script src="{% static 'js/map/viva.js' %}"></script>
{% endblock %}
